.main-profile-picker {
    height: 100vh;

    background: rgb(29,1,1);
    background: -moz-linear-gradient(0deg, rgba(29,1,1,1) 0%, rgba(28,1,1,1) 37%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(29,1,1,1) 0%, rgba(28,1,1,1) 37%, rgba(0,0,0,1) 100%);
    background: linear-gradient(0deg, rgba(29,1,1,1) 0%, rgba(28,1,1,1) 37%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d0101",endColorstr="#000000",GradientType=1);
}

.profile-title {
    position: absolute;
    margin-top: 5rem;

    z-index: 1;
}

.profiles-container {
    display: flex;
}

.edit-profile-button {
    margin-top: 10rem;
}

@media only screen and (max-width: 1000px) {
    .profiles-container {
        flex-direction: column;
        margin-top: 3rem;
    }

    .profile-title {
        margin-bottom: 1rem;
    }

    .edit-profile-button {
        margin-top: 3rem;
    }
}
