@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.slick-prev, .slick-next {
  height: 10rem;
  width: 2rem;
  
  border-radius: 10%;

  background-color: rgba(0, 0, 0, 0.308) !important;
  z-index: 0;
}

.slick-prev:before,
.slick-next:before {
  color: rgba(175, 0, 0, 0.4);
  padding: 10px;
}

.title-card {
  height: 10rem;
  width:  7rem;
}
