.watchlist-grid {
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(12rem, 0fr));
    grid-row-gap: 10px;
}

.watchlist-title-card {
    height: 15rem;
    width:  10rem;

    transition: all 300ms;
}

.watchlist-title-card:hover {
  cursor: pointer;

  transform: scale(1.2);
}