.profile-picker-container, .profile-picker-main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-picker-container {
    height:17.5rem;
    width: 10rem;

}

.profile-picker-main {
    flex-direction: column;
    position: absolute;

    margin-top: 17.5rem;
}

.profile-picker-picture {
    width: 7rem;
    transition: all 300ms;
    border-radius: 50%;
}

.profile-picker-name {
        font-size: 1rem;
    margin-top: 0.5rem;
    transition: all 300ms;
}

.profile-picker-container.hovered {
    background: rgb(0,0,0);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(64,0,0,0.75) 33%, rgba(63,0,0,0.74) 67%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(64,0,0,0.75) 33%, rgba(63,0,0,0.74) 67%, rgba(0,0,0,0) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(64,0,0,0.75) 33%, rgba(63,0,0,0.74) 67%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#000000",GradientType=1);
    cursor: pointer;
}

.profile-picker-main:hover .profile-picker-picture {
    -webkit-box-shadow: 0px 0px 75px 15px rgba(110,0,0,1);
    -moz-box-shadow: 0px 0px 75px 15px rgba(110,0,0,1);
    box-shadow: 0px 0px 75px 15px rgba(110,0,0,1);
    width: 8.5rem;
}

.profile-picker-main:hover .profile-picker-name {
    font-size: 1.2rem;
}

@media only screen and (max-width: 1000px) {
    .profile-picker-main {
        position: relative;
    }
}
