.trailer-container {
    height: 100vh;
    background-color: #000;

    display: flex;
    align-items: center;
}

.trailer-player {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;

}

.video-container {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.player-title {
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
    position: absolute;
    z-index: 1;
}

.player-title.hidden {
    opacity: 0;
}
