
.current-profile-icon {
    height: 1.2rem;
    width:  1.2rem;

    background-size: cover;
}

.header-link {
    border-bottom: 1px solid transparent;
    color: #FFF;
}

.header-link:hover {
    border-bottom: 1px solid #FFF;
}