.current-profile-icon {
    height: 1.2rem;
    width:  1.2rem;

    background-size: cover;
}

.current-profile-icon:hover {
    cursor: pointer;
}

.header-link {
    color: #FFF;
    border-bottom: 1px solid transparent;

    padding-bottom: 10px;
    text-decoration: none;
}

.header-link:hover {
    cursor: pointer;
    border-bottom: 1px solid #FFF;
}

.loading-spinner {
    height: 18px;
    width:  18px;
    border: 2px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 

@media only screen and (max-width: 1000px) {
    .header-link {
       display: none; 
    }
    
    .titles-categories {
        display: none;
    }
}
