.current-profile-icon {
    height: 1.2rem;
    width:  1.2rem;

    background-size: cover;
}

.header-link {
    color: #FFF;
    border-bottom: 1px solid transparent;

    padding-bottom: 10px;
    text-decoration: none;
}

.header-link:hover {
    cursor: pointer;
    border-bottom: 1px solid #FFF;
}

.header-icon:hover {
    cursor: pointer;
}