.title-main {
    height: 100vh;

    background: rgb(29,1,1);
    background: -moz-linear-gradient(0deg, rgba(29,1,1,1) 0%, rgba(28,1,1,1) 37%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(29,1,1,1) 0%, rgba(28,1,1,1) 37%, rgba(0,0,0,1) 100%);
    background: linear-gradient(0deg, rgba(29,1,1,1) 0%, rgba(28,1,1,1) 37%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1d0101",endColorstr="#000000",GradientType=1);
}


.title-button {
    width: 11rem;

    display: flex;
    align-items: center;
}

.title-page-title-card {
    height: 16rem;
    width:  11rem;
}